# Add offline installers here
Applications/*

# Add drivers here
win-install/drivers

# Local information
*.csv

# Local environment settings
.env

scripts/sys-info/data/*
scripts/sys-info/data-backup/*
